$PrimaryThemeColor: rgb(0, 0, 0);
$carrier-model-color: rgba(61, 61, 61, 0.729);
$SecondaryThemeColor: rgba(0, 40, 116, 0.411);

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container-reservation {
    width: 100vw;
    height: max-content;
    padding: 0 30px;
    background-color: white;

    .final-details {
        padding-top: 80px;
        width: 80%;
        height: 100%;
        margin: 0 auto;

        .title {
            font-size: 20px;
            font-weight: 500;
            color: $PrimaryThemeColor;
            font-family: 'Open Sans', sans-serif;
            padding-bottom: 15px;
            padding-top: 15px;
            padding-left: 20px;
        }

        .display-details {
            padding: 30px 0px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            .customer-inputs {
                width: 50%;
                height: 100%;
                padding-right: 20px;

                .each-customer {
                    margin-bottom: 30px;
                    padding-bottom: 20px;
                    border: 1px solid rgba(48, 48, 48, 0.151);
                    border-radius: 5px;

                    .passenger-number-label {
                        font-size: 15px;
                        font-family: 'Open Sans', sans-serif;
                        color: $PrimaryThemeColor;
                        padding: 10px;
                        font-weight: 600;
                    }
                }

                .input-group {
                    height: fit-content;
                    gap: 30px;

                    .input-box {
                        display: flex;
                        flex-direction: column;
                        width: 90%;
                        padding: 10px;

                        label {
                            font-size: 12px;
                            color: $PrimaryThemeColor;
                            margin-bottom: 2px;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 600;
                        }

                        input {
                            width: 100%;
                            height: 30px;
                            border: none;
                            border-bottom: 1px solid $SecondaryThemeColor;
                            padding: 0 10px;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 12px;
                            font-weight: 400;
                            color: black;

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }

                .name-section {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .contact-section {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    .input-box {

                        input[type="email"],
                        input[type="text"] {
                            width: 100%;
                            height: 30px;
                            border-bottom: 1px solid $SecondaryThemeColor;
                            border-left: none;
                            padding: 0 10px 0 5px;
                            font-size: 15px;
                            font-weight: 500;
                            color: $PrimaryThemeColor;

                            &:focus {
                                outline: none;
                            }
                        }

                        .icon {
                            width: 30px;
                            height: 30px;
                            position: relative;
                            top: -30px;
                            left: 0px;
                            background-color: $SecondaryThemeColor;
                            border: none;
                            color: white;
                            padding: 5px;
                        }
                    }
                }

                .name-section,
                .contact-section {
                    //background-color: rgba(255, 234, 163, 0.24);
                    padding: 20px 20px 0px 20px;
                }

                .demographic-section {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;
                    justify-content: space-between;
                    padding: 20px 20px 0px 20px;

                    .input-box {
                        input[type="text"] {
                            border: none;
                            border-bottom: 1px solid $SecondaryThemeColor;
                        }

                        .dropDownGroup {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            .dropdown-item {
                                display: flex;
                                width: 50%;
                                flex-direction: column;

                                label {
                                    font-size: 12px;
                                    color: $PrimaryThemeColor;
                                    margin-bottom: 2px;
                                    font-weight: 600;
                                }

                                select {
                                    width: 100%;
                                    height: 30px;
                                    border: 1px solid $SecondaryThemeColor;
                                    padding: 0 10px;
                                    font-size: 15px;
                                    font-weight: 100;
                                    color: $PrimaryThemeColor;

                                    &:focus {
                                        outline: none;
                                    }
                                }

                                &:focus {
                                    outline: none;
                                }
                            }
                        }

                        select[name="gender"] {
                            border: none;
                            margin-top: 25px;
                            border-bottom: 1px solid $SecondaryThemeColor;
                            font-size: 15px;
                            color: $PrimaryThemeColor;

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }


                .card-section {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px;
                    margin-top: 30px;
                    border-radius: 5px;
                    font-size: 12px;
                    border: 1px solid rgba(24, 24, 24, 0.185);

                    .input-box {
                        width: 100%;

                        label {
                            display: block;
                            font-size: 12px;
                            color: #333;
                            margin-bottom: 5px;
                        }

                        input[type="text"] {
                            width: 100%;
                            font-size: 12px;
                            padding: 10px;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                        }

                        .dropDownGroup {
                            display: flex;
                            justify-content: space-between;

                            .dropdown-item {
                                width: 45%;

                                label {
                                    display: block;
                                    font-size: 14px;
                                    color: #333;
                                    margin-bottom: 5px;
                                }

                                select {
                                    width: 100%;
                                    padding: 10px;
                                    border: 1px solid #ccc;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }

                    .card-meta-1 {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 20px;

                        .input-box {
                            label {
                                display: block;
                                font-size: 12px;
                                color: #333;
                                margin-bottom: 5px;
                            }

                            input[type="text"] {
                                width: 100%;
                                padding: 10px;
                                border: 1px solid #ccc;
                                border-radius: 5px;
                            }
                        }
                    }

                    .card-meta-2 {
                        .dropDownGroup {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            margin-top: 20px;
                            gap: 20px;
                        }
                    }

                    .card-meta-2,
                    .card-meta-3 {
                        .dropDownGroup {
                            display: flex;
                            margin-top: 20px;
                            gap: 20px;

                            .dropdown-item {
                                width: 95%;

                                label {
                                    display: block;
                                    font-size: 12px;
                                    color: #333;
                                    margin-bottom: 5px;
                                }

                                select {
                                    width: 100%;
                                    padding: 10px;
                                    border: 1px solid #ccc;
                                    border-radius: 5px;
                                }
                            }

                            #cvv {
                                width: 100%;
                                padding: 10px;
                                border: 1px solid #ccc;
                                border-radius: 5px;
                                height: 42px;
                                letter-spacing: 2px;
                                font-weight: 600;
                            }
                        }
                    }

                    .card-meta-3 {
                        .dropDownGroup {
                            display: flex;
                            margin-top: 20px;
                            flex-direction: column;
                            gap: 20px;

                            .grid-bi {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                gap: 20px;
                            }

                            .dropdown-item {
                                width: 100%;

                                label {
                                    display: block;
                                    font-size: 14px;
                                    color: #333;
                                    margin-bottom: 5px;
                                }

                                select {
                                    width: 100%;
                                    padding: 10px;
                                    border: 1px solid #ccc;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }

                    .card-meta-4 {
                        .dropDownGroup {
                            display: flex;
                            gap: 20px;
                            flex-direction: row;
                        }
                    }
                }
            }

            .booking-details {
                width: 50%;
                height: 100%;

                .information-container {
                    padding: 20px;

                    .flight-detail-container {
                        padding: 20px;

                        .flightDetails {
                            height: fit-content;
                            width: 100%;
                            height: fit-content;
                            margin-top: 50px;
                            border-radius: 5px;
                            display: flex;
                            flex-direction: column;
                            align-items: end;
                            border: 1px solid rgba(124, 124, 124, 0.384);
                            padding: 20px;

                            .priceDisplay {
                                font-size: 20px;
                                text-align: right;
                                font-weight: 600;
                            }

                            .segmentContainer {
                                border: none;
                                padding: 0;
                                margin: 0;
                                width: 100%;
                                height: fit-content;
                                margin-bottom: 20px;

                                .carrier-info {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    padding: 20px 0px;

                                    .carrier {
                                        display: flex;
                                        flex-direction: row;
                                        gap: 20px;
                                        align-items: center;

                                        img {
                                            width: 38px;
                                            height: 38px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            color: white;
                                            font-size: 20px;
                                        }

                                        .signature {
                                            h3 {
                                                font-size: 15px;
                                                color: $PrimaryThemeColor;
                                            }

                                            p {
                                                font-size: 12px;
                                                color: $carrier-model-color;
                                            }
                                        }
                                    }

                                    .travel-comfort {
                                        font-size: 12px;

                                        .stopOver {
                                            padding: 0;
                                            font-size: 15px;
                                            text-align: right;
                                        }
                                    }
                                }

                                .destinations {
                                    border: none;
                                    padding: 0;
                                    margin: 0;
                                    width: 100%;
                                    height: fit-content;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;

                                    .departure-info,
                                    .arrival-info {
                                        .iataCode {
                                            font-size: 40px;
                                            font-weight: 500;
                                            color: black;
                                        }

                                        .date,
                                        .time {
                                            font-size: 15px;
                                            font-weight: 400;
                                        }
                                    }

                                    .arrival-info {
                                        text-align: right;
                                    }

                                    .visual {
                                        width: 30%;

                                        .line {
                                            width: 100%;
                                            height: 10px;
                                            border: none;
                                            margin-top: 40px;
                                            border-bottom: 1px solid $PrimaryThemeColor;
                                        }

                                        .icon {
                                            font-size: 20px;
                                            color: $PrimaryThemeColor;
                                            position: relative;
                                            top: -15px;
                                            left: 42%;
                                            height: 30px;
                                            background-color: rgb(255, 255, 255);
                                            transform: rotate(90deg)
                                        }
                                    }
                                }

                                .features {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 10px 0px;
                                    gap: 10px;
                                    font-size: 10px;
                                    color: rgba(26, 26, 26, 0.733);
                                    margin-top: 30px;
                                    border-bottom: 1px solid rgba(48, 48, 48, 0.14);

                                    .circle {
                                        width: 5px;
                                        height: 5px;
                                        border-radius: 50%;
                                        background-color: rgba(48, 48, 48, 0.384);
                                    }

                                    .feature {
                                        font-weight: 500;

                                        .icon {
                                            font-size: 10px;
                                        }
                                    }
                                }
                            }

                            .segmentContainer:last-child {
                                border-bottom: none;
                            }

                            .confirmBtn {
                                width: 150px;
                                background-color: rgb(19, 129, 255);
                                color: white;
                                border: none;
                                padding: 8px 5px;
                                font-size: 15px;
                                font-weight: 400;
                                border-radius: 2px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .container-reservation {

        .final-details {

            h3 {
                font-size: 30px;
                font-weight: 100;
                color: $PrimaryThemeColor;
            }

            .display-details {

                .booking-details {

                    .information-container {
                        padding: 20px;

                        .flight-detail-container {

                            .flightDetails {

                                .priceDisplay {
                                    font-size: 15px;
                                }

                                .segmentContainer {
                                    border: none;
                                    padding: 0;
                                    margin: 0;
                                    width: 100%;
                                    height: fit-content;
                                    margin-bottom: 20px;

                                    .carrier-info {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        padding: 20px 0px;

                                        .carrier {
                                            display: flex;
                                            flex-direction: row;
                                            gap: 20px;
                                            align-items: center;

                                            img {
                                                width: 30px;
                                                height: 30px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                color: white;
                                                font-size: 20px;
                                                border: 1px solid rgba(0, 0, 0, 0.253);
                                            }

                                            .signature {
                                                h3 {
                                                    font-size: 12px;
                                                    color: $PrimaryThemeColor;
                                                }

                                                p {
                                                    font-size: 10px;
                                                    color: $carrier-model-color;
                                                }
                                            }
                                        }

                                        .travel-comfort {
                                            font-size: 10px;

                                            .stopOver {
                                                padding: 0;
                                                font-size: 12px;
                                                text-align: right;
                                            }
                                        }
                                    }

                                    .destinations {
                                        border: none;
                                        padding: 0;
                                        margin: 0;
                                        width: 100%;
                                        height: fit-content;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;

                                        .departure-info,
                                        .arrival-info {
                                            .iataCode {
                                                font-size: 30px;
                                                font-weight: 500;
                                                color: black;
                                            }

                                            .date,
                                            .time {
                                                font-size: 12px;
                                                font-weight: 400;
                                            }
                                        }

                                        .arrival-info {
                                            text-align: right;
                                        }
                                    }

                                    .features {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        align-items: center;
                                        padding: 10px 0px;
                                        gap: 10px;
                                        font-size: 8px;
                                        color: rgba(26, 26, 26, 0.733);
                                        margin-top: 30px;
                                        border-bottom: 1px solid rgba(48, 48, 48, 0.14);

                                        .circle {
                                            width: 5px;
                                            height: 5px;
                                            border-radius: 50%;
                                            background-color: rgba(48, 48, 48, 0.384);
                                        }

                                        .feature {
                                            font-weight: 500;

                                            .icon {
                                                font-size: 8px;
                                            }
                                        }
                                    }
                                }

                                .segmentContainer:last-child {
                                    border-bottom: none;
                                }

                                .confirmBtn {
                                    width: 150px;
                                    background-color: rgb(19, 129, 255);
                                    color: white;
                                    border: none;
                                    padding: 8px 5px;
                                    font-size: 15px;
                                    font-weight: 400;
                                    border-radius: 2px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1220px) {
    .container-reservation {
        width: 100vw;
        height: max-content;
        padding: 0 30px;
        background-color: white;

        .final-details {
            padding-top: 80px;
            width: 80%;
            height: 100%;
            margin: 0 auto;

            h3 {
                font-size: 30px;
                font-weight: 100;
                color: $PrimaryThemeColor;
            }

            .display-details {
                padding: 30px 0px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                .customer-inputs {
                    width: 100%;
                    height: 100%;
                    border: none;

                    .each-customer {
                        margin-bottom: 30px;
                        border-bottom: 1px solid rgba(48, 48, 48, 0.151);
                        padding-bottom: 20px;

                        .passenger-number-label {
                            font-size: 20px;
                            color: $PrimaryThemeColor;
                            margin-bottom: 2px;
                            font-weight: 600;
                        }
                    }

                    .input-group {
                        height: fit-content;
                        gap: 30px;

                        .input-box {
                            display: flex;
                            flex-direction: column;
                            width: 90%;

                            label {
                                font-size: 15px;
                                color: $PrimaryThemeColor;
                                margin-bottom: 2px;
                                font-weight: 600;
                            }

                            input {
                                width: 100%;
                                height: 30px;
                                border-bottom: 1px solid $SecondaryThemeColor;
                                padding: 0 10px;
                                font-size: 15px;
                                font-weight: 100;
                                color: $PrimaryThemeColor;

                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                    }

                    .name-section {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    .contact-section {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-bottom: 10px;

                        .input-box {

                            input[type="email"],
                            input[type="text"] {
                                width: 100%;
                                height: 30px;
                                border-bottom: 1px solid $SecondaryThemeColor;
                                padding: 0 10px 0 35px;
                                font-size: 15px;
                                letter-spacing: 2px;
                                font-weight: 500;
                                color: $PrimaryThemeColor;

                                &:focus {
                                    outline: none;
                                }
                            }

                            .icon {
                                width: 30px;
                                height: 30px;
                                position: relative;
                                top: -30px;
                                left: 0px;
                                background-color: $SecondaryThemeColor;
                                border: none;
                                color: white;
                                padding: 5px;
                            }
                        }
                    }

                    .name-section,
                    .contact-section {
                        //background-color: rgba(255, 234, 163, 0.24);
                        padding: 20px 20px 0px 20px;
                    }

                    .demographic-section {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        margin-top: 20px;
                        justify-content: space-between;
                        padding: 20px 20px 0px 20px;

                        .input-box {
                            input[type="text"] {
                                border: none;
                                border-bottom: 1px solid $SecondaryThemeColor;
                            }

                            .dropDownGroup {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;

                                .dropdown-item {
                                    display: flex;
                                    width: 50%;
                                    flex-direction: column;

                                    label {
                                        font-size: 12px;
                                        color: $PrimaryThemeColor;
                                        margin-bottom: 2px;
                                        font-weight: 600;
                                    }

                                    select {
                                        width: 100%;
                                        height: 30px;
                                        border: 1px solid $SecondaryThemeColor;
                                        padding: 0 10px;
                                        font-size: 15px;
                                        font-weight: 100;
                                        color: $PrimaryThemeColor;

                                        &:focus {
                                            outline: none;
                                        }
                                    }

                                    &:focus {
                                        outline: none;
                                    }
                                }
                            }

                            select[name="gender"] {
                                border: none;
                                margin-top: 25px;
                                border-bottom: 1px solid $SecondaryThemeColor;
                                font-size: 15px;
                                color: $PrimaryThemeColor;

                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                    }


                    .card-section {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 20px;
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
                        margin-top: 30px;
                        background-color: rgba(255, 234, 163, 0.24);

                        .input-box {
                            width: 100%;

                            label {
                                display: block;
                                font-size: 14px;
                                color: #333;
                                margin-bottom: 5px;
                            }

                            input[type="text"] {
                                width: 100%;
                                padding: 10px;
                                border: 1px solid #ccc;
                                border-radius: 5px;
                            }

                            .dropDownGroup {
                                display: flex;
                                justify-content: space-between;

                                .dropdown-item {
                                    width: 45%;

                                    label {
                                        display: block;
                                        font-size: 14px;
                                        color: #333;
                                        margin-bottom: 5px;
                                    }

                                    select {
                                        width: 100%;
                                        padding: 10px;
                                        border: 1px solid #ccc;
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }

                        .card-meta-1 {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            margin-top: 20px;
                            gap: 20px;

                            .input-box {
                                label {
                                    display: block;
                                    font-size: 14px;
                                    color: #333;
                                    margin-bottom: 5px;
                                }

                                input[type="text"] {
                                    width: 100%;
                                    padding: 10px;
                                    border: 1px solid #ccc;
                                    border-radius: 5px;
                                }
                            }
                        }

                        .card-meta-2,
                        .card-meta-3 {
                            .dropDownGroup {
                                display: flex;
                                margin-top: 20px;
                                gap: 20px;

                                .dropdown-item {
                                    width: 95%;

                                    label {
                                        display: block;
                                        font-size: 14px;
                                        color: #333;
                                        margin-bottom: 5px;
                                    }

                                    select {
                                        width: 100%;
                                        padding: 10px;
                                        border: 1px solid #ccc;
                                        border-radius: 5px;
                                    }
                                }

                                #cvv {
                                    width: 100%;
                                    padding: 10px;
                                    border: 1px solid #ccc;
                                    border-radius: 5px;
                                    height: 42px;
                                    letter-spacing: 2px;
                                    font-weight: 600;
                                }
                            }
                        }

                        .card-meta-3 {
                            .dropDownGroup {
                                display: flex;
                                margin-top: 20px;
                                flex-direction: column;
                                gap: 20px;

                                .grid-bi {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    gap: 20px;
                                }

                                .dropdown-item {
                                    width: 100%;

                                    label {
                                        display: block;
                                        font-size: 14px;
                                        color: #333;
                                        margin-bottom: 5px;
                                    }

                                    select {
                                        width: 100%;
                                        padding: 10px;
                                        border: 1px solid #ccc;
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }

                        .card-meta-4 {
                            .dropDownGroup {
                                display: flex;
                                gap: 20px;
                                flex-direction: row;
                            }
                        }
                    }
                }

                .booking-details {
                    width: 100%;
                    height: 100%;

                    .information-container {
                        padding: 20px;

                        .flight-detail-container {
                            padding: 20px;

                            .flightDetails {
                                height: fit-content;
                                width: 100%;
                                height: fit-content;
                                margin-top: 50px;
                                border-radius: 5px;
                                display: flex;
                                flex-direction: column;
                                align-items: end;
                                border: 1px solid rgba(124, 124, 124, 0.384);
                                padding: 20px;

                                .priceDisplay {
                                    font-size: 18px;
                                    text-align: right;
                                    font-weight: 600;
                                }

                                .segmentContainer {
                                    border: none;
                                    padding: 0;
                                    margin: 0;
                                    width: 100%;
                                    height: fit-content;
                                    margin-bottom: 20px;

                                    .carrier-info {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        padding: 20px 0px;

                                        .carrier {
                                            display: flex;
                                            flex-direction: row;
                                            gap: 20px;
                                            align-items: center;

                                            img {
                                                width: 30px;
                                                height: 30px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                color: white;
                                                font-size: 20px;
                                                border: 1px solid rgba(0, 0, 0, 0.253);
                                            }

                                            .signature {
                                                h3 {
                                                    font-size: 15px;
                                                    color: $PrimaryThemeColor;
                                                }

                                                p {
                                                    font-size: 12px;
                                                    color: $carrier-model-color;
                                                }
                                            }
                                        }

                                        .travel-comfort {
                                            font-size: 12px;

                                            .stopOver {
                                                padding: 0;
                                                font-size: 15px;
                                                text-align: right;
                                            }
                                        }
                                    }

                                    .destinations {
                                        border: none;
                                        padding: 0;
                                        margin: 0;
                                        width: 100%;
                                        height: fit-content;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;

                                        .departure-info,
                                        .arrival-info {
                                            .iataCode {
                                                font-size: 40px;
                                                font-weight: 500;
                                                color: black;
                                            }

                                            .date,
                                            .time {
                                                font-size: 15px;
                                                font-weight: 400;
                                            }
                                        }

                                        .arrival-info {
                                            text-align: right;
                                        }
                                    }

                                    .features {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        align-items: center;
                                        padding: 10px 0px;
                                        gap: 10px;
                                        font-size: 10px;
                                        color: rgba(26, 26, 26, 0.733);
                                        margin-top: 30px;
                                        border-bottom: 1px solid rgba(48, 48, 48, 0.14);

                                        .circle {
                                            width: 5px;
                                            height: 5px;
                                            border-radius: 50%;
                                            background-color: rgba(48, 48, 48, 0.384);
                                        }

                                        .feature {
                                            font-weight: 500;

                                            .icon {
                                                font-size: 10px;
                                            }
                                        }
                                    }
                                }

                                .segmentContainer:last-child {
                                    border-bottom: none;
                                }

                                .confirmBtn {
                                    width: 150px;
                                    background-color: rgb(19, 129, 255);
                                    color: white;
                                    border: none;
                                    padding: 8px 5px;
                                    font-size: 15px;
                                    font-weight: 400;
                                    border-radius: 2px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}